body{
    font-size: 16px;
    margin: 0 auto;
    max-width: 1078px; /*SE PUEDE HACER PERO NO ES RECOMENDABLE, SE RECOMIENDA 1024PX*/
    min-height: 1078px;
}
header input[type="search"]{
    float: right;
    margin-right: -220px;
    margin-top: 15px;
}
header nav{
    /* border: 1px solid red; */
    margin-left: 200px;
}
header nav ul li{
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    display: inline-block;
    margin-right: 20px;
    font-size: 1.8em;
    color: rgba(150, 150, 150, 0.5);
    padding-bottom: 2px;
}
#boffer{
    position: relative;
    top: -410px;
    left: -65px;
}
#logo{
    margin-left: 40px;
    margin-top: 20px;
}
#paint{
    float: right;
}
#primerseccion{
    height: 318px;
    margin-top: 60px;
}
#primerseccion article{
    display: inline-block;
    vertical-align: top;
}
#seccion01art01{
    width: 61%;
}
#seccion01art02{
    width: 30%;
    margin-left: 40px;
}
#seccion01art02 ul{
    list-style: none;
}
#seccion01art02 ul li::before{
    color: #FF0099;
    content: " • ";
}

#segundaseccion{
    text-align: right;
    padding-right: 140px;
}

#terceraseccion article{
    display: inline-block;
    width: 23%;
    vertical-align: top;
}

#terceraseccion article img{
    vertical-align: middle;
}

#secc03art04{
    padding-top: 60px;
}


.rosita{
    color: #FF0099;
}
.azulito{
    color: #4267B3;
}
.verde{
    color: #8BC500;
}
.letragrande{
    font-size: 3.5em;
}
.letramediana{
    font-size: 2em;
}
.negritas{
    font-weight: bold;
}


#footersec01{
    border: 1px solid red;
    float: right;
    position: relative;
    top: -55px;
    left: -35px;
}

#footersec02{
    background-color: #4267B3;
    border: 1px solid red;
}
#footersec02 article{
    display: inline-block;
    width: 32%;
}
