html{
    --color-backgroud1: rgb(33	41	54);
    --color-blanco: rgb(255 255 255);
    --color-azul: rgb(81 125 232);
    --color-gris: rgb(58	65	80	);
}
body{
    font-size: 16px;
    margin: 0 auto;
    max-width: 1024px;
}
header span{
    margin-right: 510px;
}
header nav ul{
    background: var(--color-backgroud1);
    float: right;
}
header img{
    width: 25px;
    vertical-align: middle;
}
header nav ul li{
    display: inline-block;
    margin-left: 20px;
}

.letra-blanca{
    color: var(--color-blanco)
}
.letra-gris{
    color: var(--color-gris);
}
.negritas{
    font-weight: bold;
}