html{
    --color-backgroud1: rgb(33	41	54);
    --color-blanco: rgb(255 255 255);
    --color-azul: rgb(28 78 217);
    --color-gris: rgb(58	65	80	);
    --color-letragris: rgb(142 150 163);
}
body{
    font-size: 16px;
    margin: 0 auto;
    max-width: 1024px;
}
header span{
    margin-right: 510px;
}
header nav ul{
    background: var(--color-backgroud1);
    float: right;
}
header img{
    width: 25px;
    vertical-align: middle;
}
header nav ul li{
    display: inline-block;
    margin-left: 20px;
}

#sec01{
    background: var(--color-backgroud1);
}

#btn1{
    background: var(--color-azul);
    border-radius: 50px;
    border: 0px;
    color: var(--color-blanco);
    padding: 10px;
}
#btn2{
    background: var(--color-gris);
    border-radius: 50px;
    border: 0px;
    color: var(--color-blanco);
    padding: 10px;
}

#sec01art01 {
    margin-top: 100px;
    text-align: center;
}
#sec01art02 img{
    border-radius: 5px;
    border: 5px solid var(--color-blanco);
    margin-left: 250px;
    margin-top: 100px;
    position: relative;
    width: 500px;
}

#sec02{
    text-align: center;
}

#sec03 article{
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    width: 33%;
}


.letra-blanca{
    color: var(--color-blanco)
}
.letra-gris{
    color: var(--color-letragris);
}
.negritas{
    font-weight: bold;
}
.letra-grande{
    font-size: 2em;
}