html{
    --color-negro: #000000;
    --color-verde: rgb(149	240	94);
    --color-gris: rgb(201 201 201);
    --color-footer: rgb(150,150,150);
}
body{
    font-size: 16px;
    max-width: 1024px;
    margin: 0 auto;
}

header nav ul li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
header nav img{
    position: relative;
    margin-left: 70px;
    margin-top: -20px;
}

#headsec01{
    margin-left: 880px;
}
#headsec02 :nth-child(2){
    margin-left: 740px;
    width: 160px;
}

#sec01 article{
    display: inline-block;
}
#sec01art01{
    width: 66%;
}
#sec01art02{
    width: 10%;
}
#sec01art02 img{
    width: 450px;
}
#sec02 img{
    vertical-align: middle;
}

#years{
    position: relative;
    margin-top: -150px;
    margin-left: 680px;
    width: 150px;
}

footer article{
    color: var(--color-footer);
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 17%;
}

footer hr{
    border-width: 0.5px;
}

.hrdash{
    border-style: dashed ;
    border-width: 0.5px;
    
}

.color-gris{
    color: var(--color-gris);
}
.color-negro{
    color: var(--color-negro);
}
.color-verde{
    color: var(--color-verde);
}
.letra-grande{
    font-size: 4em;
}
.letra-footer{
    font-size: 1.3em;
}
.negritas{
    font-weight: bold;
}