html{
    /*custom properties existe desde ccs3( basicamente una variabe)*/
    --color-verde: #A7D12B; 
    --color-negro: #353535;
    --color-rojo: #D33040;
    --color-gris: lightgray;
    --fondo-negro: #2C2C2C;
    --color-linea:#949494;
    --color-azul: lightblue;
    --color-blanco: white;
}
body{
    font-size: 16px; /*1em*/
    margin: 0 auto; /*centrado*/
    max-width: 1024px;
}
header ul li{
    display: inline-block;
    margin-left: -5px;
    padding: 8px 14px;
    text-align: center;
    width: 17%;
}

header ul li:nth-child(2){
    background: var(--color-verde);
}
header ul li:nth-child(3){
    background: var(--color-negro);
}
header ul li:nth-child(4){
    background: var(--color-rojo);
}
header ul li:nth-child(5){
    background: var(--color-gris);
}

section article{
    display: inline-block;
    height: 280px;
    margin-left: -5px;
    padding: 18px 8px;
    vertical-align: top;
    width: 18.6%; /*17.9%*/
}
section article ul{
    list-style: none;
}
section article:nth-child(2){
    background: var(--color-verde);
}
section article:nth-child(3){
    background: var(--color-negro);
}
section article:nth-child(4){
    background: var(--color-rojo);
}
section article:nth-child(5){
    background: var(--color-gris);
}

section,footer{
    background: var(--fondo-negro);
}
section img{
    width: 150px;
}

.letra-blanca{
    color: white;
}
.letra-gris{
    color: var(--color-linea);
}
.letra-azul{
    color: var(--color-azul);
}
.tam-tarjetas{
    font-size: 1.5em;
}
.tam-menu-lateral{
    font-size: 1.7em;
}