html{
    --color-negro: #000000;
    --color-verde: rgb(149	240	94);
}
body{
    font-size: 16px;
    max-width: 1024px;
    margin: 0 auto;
}

header nav ul li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
header nav img{
    position: relative;
    margin-left: 70px;
    margin-top: -20px;
}

#headsec01{
    margin-left: 880px;
}
#headsec02 :nth-child(2){
    margin-left: 740px;
    width: 160px;

}
hr{
    border-style: dashed;
}
#sec01 article{
    display: inline-block;
}
#sec01 article :nth-child(1){
    width: 55%;
    
}
#sec01 article img{
    width: 80px;
}
#sec01 article :nth-child(2){
    width: 33%;
}

.color-negro{
    color: var(--color-negro);
}
.color-verde{
    color: var(--color-verde);
}
.letra-grande{
    font-size: 3.5em;
}
.letra-footer{

}
.negritas{
    font-weight: bold;
}